body{
    background-color: bisque;
}

header{
    display: flex;
    position: ;
    height: 100px;
    width: 800px;
    background-color: antiquewhite;

}
h1{
   height: 200px;
   width: 200px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: aqua;
}
header nav{ 
    display: flex;

}
header nav ul {
    display: flex;
   
    align-items: center;
    list-style-type: none;

}

header nav ul li {
    display: inline-block;
   
}


footer{

}