body{
    background-color: bisque;
}

header{
    display: flex;
    position:fixed;
    height: 100px;
    width: 100%;
    margin-bottom: 10px;
    background-color: rgb(222, 215, 250);

}
header h1{
   height: 200px;
   width: 200px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: aqua;
}
header nav{ 
    display: flex;
    justify-content: flex-end;
    float: right;
}
header nav ul {
    display: flex;
     margin: 1px;
    align-items: center;
    list-style-type: none;

}

header nav ul li {
    display: inline-block;
    margin-right: 15px;
   
}

section {
    width: 75%;
    display: inline-block;
    margin: 10px;
    background-color: blueviolet;
}

footer{
padding: 25px;
}